<div id="upload_a_video">
  <h2>Upload A Video</h2>

  <div>
    <form id="form" action="/" method="post" enctype="multipart/form-data">
      <fieldset class="flash" id="fsUploadProgress">
        <legend>Upload Queue</legend>
      </fieldset>                                                
      <div id="divStatus">0 Files Uploaded</div>                         
      <div>   
        <input type="button" value="Upload file (Max 100 MB)" onclick="swfu.selectFiles()" style="font-size: 8pt;" />
        <input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="font-size: 8pt;" />
      </div>
    </form>
  </div>

  <div class="clear"></div>
</div>

<% javascript_tag do %>
  var swfu;

  window.onload = function() {
    swfu = new SWFUpload({
      upload_url : "<%= @upload_url %>",
      file_post_name : 'file',
      post_params: {"access_key" : "<%= Ankoder::Configuration::access_key %>",
      //"success_redirect" : "<%= PROTOCOL_HOST_PORT + profile_videos_path(@p) %>",
      "failed_redirect" : "<%= PROTOCOL_HOST_PORT %>",
      "postback_url" : "<%= PROTOCOL_HOST_PORT + profile_videos_path(@p) %>" },
      flash_url : "/resources/swfupload_f9.swf",

      file_size_limit : "1024000", //1000MB
      file_types : "*.avi;*.wmv",
      file_types_description : "video files only",
      file_upload_limit : "5",
      file_queue_limit : "5",

      custom_settings : {
        progressTarget : "fsUploadProgress",
        cancelButtonId : "btnCancel"
      },

      file_queued_handler : fileQueued,
      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_start_handler : uploadStart,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,
      queue_complete_handler : queueComplete,  // Queue plugin event

//      ui_container_id : flashUIElement,
//      degraded_container_id : fileUIElement,
//      debug: true,
//      debug_handler: swfDebug
    });
  };

  function uploadSuccess(file, serverData) {
    try {
      var progress = new FileProgress(file, this.customSettings.progressTarget);
      progress.setComplete();
      progress.setStatus("Complete.");
      progress.toggleCancel(false);

      if (serverData.indexOf("success") == 0) {
        new Ajax.Updater($('video_wall'), '<%= wall_profile_videos_path(@p) %>');
      }
    } catch (ex) {
      this.debug(ex);
    }
  }

<% end %>
