<div id="upload_a_video">
  <h2>Upload A Video</h2>

  <% form_tag "http://s3.amazonaws.com/ankoder_upload", :method => "post", :enctype => "multipart/form-data" do %>
    <%= hidden_field_tag 'AWSAccessKeyId', '04WAVZJW4HAZZQTWKCR2' %>
    <%= hidden_field_tag 'acl', 'public-read' %>
    <%= hidden_field_tag 'key', 'uploads/${filename}' %>
    <%= hidden_field_tag 'policy', @policy_base64 %>
    <%= hidden_field_tag 'success_action_redirect', 'http://www.google.com' %>
    <%= hidden_field_tag 'signature', @signature %>
    <p>
    <label for="file">File:</label>
    <%= file_field_tag "file" %>
    </p>
    <%= submit_tag "Upload" %>
  <% end %>

  <div class="clear"></div>
</div>
